body {
  font-family: 'Cairo', sans-serif;
  background: #f8f9fa;
}

.card {
  background: white;
  border-left: 6px solid #0d6efd; /* default blue */
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.cardhover:hover {
  transform: translateY(-5px);
}

.card h5 {
  margin-bottom: 10px;
}

.card p {
  margin: 4px 0;
  font-size: 14px;
}

.card .actions {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}

.edit {
  background-color: #ffc107;
  color: #fff;
}

.del {
  background-color: #dc3545;
  color: #fff;
}

.btn-sm {
  font-size: 0.8rem;
  padding: 4px 10px;
}
